<figure class="hookup">
  <ol class="hookup-chain">
    <li class="hookup-node">
      <span class="hookup-name">Your phone or Mac</span>
      <span class="hookup-note">Spotify, AirPlay, Plexamp</span>
    </li>
    <li class="hookup-link is-wireless">
      <span>Wi-Fi</span>
    </li>
    <li class="hookup-node is-board">
      <span class="hookup-name">Raspberry Pi + Phonkyo</span>
      <span class="hookup-note">Plays the music, acts as the dock</span>
    </li>
    <li class="hookup-link is-pair">
      <span><b>Audio</b> 3.5 mm to RCA</span>
      <span><b>RI</b> 3.5 mm to 3.5 mm</span>
    </li>
    <li class="hookup-node">
      <span class="hookup-name">Receiver</span>
      <span class="hookup-note">DOCK input and RI jack</span>
    </li>
  </ol>
  <figcaption>Two cables go to the back of the receiver: one for the sound, one for the dock commands.</figcaption>
</figure>
